.header {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #8d8b8b2d;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--body-background-color);
    z-index: 999999;
}

.navBar {
    position: relative;
    width: 100%;
    height: 55px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar-title {
    width: 200px;
    padding: 10px 0 10px 20px;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.content {
    position: absolute;
    top: 55px;
    left: -100%;
    width: 100%;
    min-height: 92.2vh;
    background: var(--body-background-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    transition: left .5s ease;
}

.content.active {
    left: 0%;
}

.content.dark {
    background: var(--body-background-color);
}

.content .navBar-menu {
    position: relative;
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: var(--color-primary);
}

.navBar-menu .navBar__Menu-link {
    width: 100%;
    border-bottom: 1px solid #cfcfcf42;
    padding: 12px 0;
    font-size: 0.9rem;
    font-weight: 400;
    align-self: flex-start;
}

.content .navBar-menu.dark {
    font-weight: 700;
    color: var(--color-secondary);
}

.navBar__Menu-link .icon-link {
    color: #ccccccb2;
    opacity: 0;
    transition: opacity .3s ease-in-out, color .3s ease;
}

.navBar__Menu-link:hover {
    color: var(--button-color);
}

.navBar__Menu-link:hover .icon-link {
    opacity: 1;
}

.navBar__Menu-link:hover .icon-link.dark {
    color: var(--color-secondary);
}


.content .navBar-social-links,
.content .navBar-appearance {
    display: none;
}

.navBarHamburguer {
    width: 35px;
    aspect-ratio: 1 / 1;
}

.navBarHamburguer {
    padding: 10px 40px 10px 0px;
}

.navBarHamburguer .container-hamburguer {
    font-size: 1.6rem;
    color: var(--color-primary);
    position: relative;
}

.container-hamburguer .icon-menu-hamburguer {
    position: absolute;
    top: -10px;
    opacity: 1;
}

.container-hamburguer .icon-menu-hamburguer.active {
    position: absolute;
    opacity: 0;
}

.container-hamburguer .icon-close {
    position: absolute;
    top: -10px;
    opacity: 1;
}

.navBarHamburguer.dark .container-hamburguer {
    font-size: 1.6rem;
    color: var(--color-secondary);
}

.navBar-extra {
    width: 280px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-extra {
    width: 100%;
}

.menu-extra .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.menu .group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.menu .group:first-child {
    border-radius: 10px;
    background: var(--background-appearence);
}

.menu .group:first-child.dark {
    border: 1px solid #ccc;
}

.group:first-child .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
}

.group:first-child .item .label {
    color: var(--color-secondary);
    font-size: 1rem;
}

.group:first-child .appearance-action,
.appearance-action .switch {
    width: 50px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appearance-action .switch {
    position: relative;
    border: 1px solid var(--button-color);
    transition: border .3s ease-in-out
}

.appearance-action .switch:hover {
    border: 1px solid var(--card-background-color);
}

.check .icon {
    max-width: max-content;
    width: 35px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.check .icon .sun {
    color: var(--color-primary);
}

.check .icon .moon {
    position: absolute;
    opacity: 0;
}

.check .icon.dark .moon {
    opacity: 1;
}

.check .icon.dark .sun {
    opacity: 0;
}

.menu .group:last-child .social-link {
    width: 100%;
}

.group:last-child .social-link .social-link-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: var(--color-primary);
}

.group:last-child .social-link .social-link-list.dark {
    color: var(--color-secondary);
}

.social-link .social-link-list .social-links {
    width: 25px;
    aspect-ratio: 1 / 1;
    font-size: 1.3rem;
}

.social-link .social-link-list .social-links:hover {
    color: #868484;
}

.extra-buttom {
    display: none;
}

@media (min-width: 768px) {
    .content {
        left: 0%;
        z-index: 1;
        background: transparent;
    }

    .content .navBar-menu {
        width: 500px;
        top: -50px;
        left: 130px;
        flex-direction: row;
        gap: 5px;
    }

    .navBarHamburguer {
        display: none;
    }

    .container-hamburguer .icon-close {
        display: none;
    }

    .navBar-menu .navBar__Menu-link {
        width: max-content;
        border-bottom: 0;
        padding: 5px 0;
        font-size: 0.7rem;
        align-self: flex-start;
    }

    .extra-buttom {
        width: max-content;
        display: block;
        position: absolute;
        top: -37px;
        right: 20px;
        font-size: 1.3rem;
        color: var(--color-primary);
        z-index: 2;
    }

    .extra-buttom.dark {
        color: var(--color-secondary);
    }

    .menu-extra {
        display: none;
        width: 70%;
        transition: display .3s ease-in-out;
    }

    .menu-extra.open {
        display: block;
    }

    .menu-extra .menu {
        top: -58px;
        right: -270px;
        border-radius: 10px;
        background-color: var(--body-background-color);
        border: 1px solid #cccccc2d;
    }

    .group:first-child .item {
        padding: 3px 2px;
    }

    .group:last-child .social-link .social-link-list {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .content .navBar-menu {
        left: 230px;
    }

    .navBar-menu .navBar__Menu-link {
        font-size: 0.9rem;
    }

    .menu-extra {
        width: 100%;
    }


    .menu-extra .menu {
        top: -58px;
        right: -350px;
        border-radius: 10px;
        background-color: var(--body-background-color);
        border: 1px solid #cccccc2d;
    }

    .group:first-child .item {
        padding: 3px 2px;
    }

    .group:last-child .social-link .social-link-list {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1240px) {
    .content {
        z-index: 1;
        background: transparent;
    }

    .content .navBar-menu {
        width: 500px;
        gap: 10px;
        left: 150px;
        z-index: 10;
    }

    .navBar-menu .navBar__Menu-link {
        width: 200px;
        font-size: 0.8rem;
    }

    .extra-buttom {
        display: none;
    }

    .menu-extra {
        display: block;
        width: 100%;
        transition: display .3s ease-in-out;
    }

    .menu-extra .menu {
        width: 350px;
        top: -113px;
        right: -370px;
        border-radius: 0px;
        background-color: transparent;
        border: 0px;
        flex-direction: row;
    }

    .menu .group:first-child {
        width: max-content;
        align-self: flex-start;
        border-radius: 0px;
        background: transparent;
    }

    .menu .group:first-child.dark {
        border: 0;
    }

    .group:first-child .appearance .label {
        display: none;
    }

    .group:first-child .item {
        padding: 2px 1px;
    }

    .appearance-action .switch {
        position: relative;
        border: 1px solid var(--card-background-color);
        transition: border .3s ease-in-out;
        padding: 2px 1px;
        right: -150px;
    }

    .group:last-child .social-link .social-link-list {
        position: relative;
        top: 5px;
        right: -150px;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}